*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
video,
picture,
figure{
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: inherit;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
    list-style-type: none;
}